@media screen and (max-width: 1024px) {
  /* start of large tablet styles */

	/**

	Header Navigation

	**/

	.header {

		#burger {
			top: 35px;
		}

		#logo {
			top: 25px;
		}

		.cartMenu {
			top: 5px;
		}

		.hidden {
			width: 0;
		}
	}

	/**

	Home Page Styles

	**/
	.home {

		/**

		Hero Module

		**/

		.hero {

			.hero-img {
				position: relative;
				height: 80vh;
				width: calc(100vw - 40px);
				margin-left: 20px;
				margin-right: 20px;
			}

			#hero-texts {
				justify-content: center;
				bottom: 0;

				.headerText {
					padding: 0 10px;
				}
			}
		}

		/**

		Featured Photos Module

		**/

		#featuredPhotos {
			overflow: hidden;

			h2 {
				font-size: 75px;
				width: 100vw;
				padding: 0;
				text-align: center;
			}

			#prev, #next {
				display:block;
				position: absolute;
				font-family: $plain;
				font-size: 150px;
				z-index: 11;
				color: $grey;
				top: calc(50% - 150px);
			}

			#prev {
				left: 0;
				padding-left: 20px;
			}

			#next {
				right: 0;
				padding-right: 20px;
			}

			#items {
				position:relative;
				width: 300%;
				overflow: hidden;

				.featuredPhoto {
					width: 100%;
					border: white solid 10px;

					.itemInfo {
						height: 100%;
						width: 50vw;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: flex-end;
						left: 0;
						bottom: 0;
						margin-left: 50vw;
						padding-right: 10%;
						padding-bottom: 25px;

						h3 {
							text-align: right;
							font-size: 65px;
						}

						p {
							font-size: 42px;
							margin: 0;
						}

						&:hover {
							bottom: 0;
						}
					}

					img {
						position: relative;
						margin-top: 100px;
						width: 75%;
						height: auto;
						bottom: 0;
						left:-10%;
					}

					&:hover {

						.itemInfo {
							bottom: 0px;
						}

						img {
							transform: scale(1);
							opacity: 1;
						}
					}
				}
			}
		}


		/**

		Text Module

		**/

		.textWrapper {
			width: calc(100% - 200px);
			height: 75vh;
			margin: 12.5vh 100px;

			.singleText {
				width: 60%;
			}

			p {
				color: $grey;
				font-size: 18px;
				font-family: $plain;
				line-height: 35px;

				&::first-letter {
					font-family: $fancy;
					font-size: 45px;
				}
			}
		}
	}


	/***

	Shop tablet

	***/

	.woocommerce {

		.page-title {
			padding-top: 10vh;
		}

		.orderby {
			margin-right: calc(10vw + 25px);
		}

		div {

			.content{

				main {

					.products {

						.product {

							h2 {
								 padding: 5px 5px 0 5px;
								 left:0;
								 background: white;
								 position: relative;
								 font-size: 24px;
								 bottom:0;
							}

							.price {
								 position: relative;
								 bottom: 0;
								 margin:0;
								 padding: 0 5px;
								 left:0;
								 background: white;
							 }

							 &:hover {

								 img {
									 opacity: 1;
									 transform: scale(1);
								 }

								 h2 {
					 				 bottom: 0;
						 			}

									.price {
						 			 bottom: 0;
						 			}
							 }

							}
						}
					}
			}
		}
	}



	/**

	Single Product page

	**/

	.single-product {

		div {

			.content {

				main {

					.product {
						margin-top: 15vh;
						width: 70%;

						.images {
							background-color: $offwhite;

							.slider {

								.slick-prev, .slick-next {
									display: block !important;
								}
							}

							#wpis-gallery {

								.slick-track {

									li {
										padding: 5px 2.5px;
									}
								}
							}
						}

						.entry-summary {

							h1 {
								font-size: 35px;
							}

							.price {
								font-size: 16px;
							}

							.woocommerce-product-details__short-description {

								p {
									font-size: 16px;
								}
							}

							form {

								.woocommerce-variation-add-to-cart {
									width: 100%;
									display: flex;

									button {
										width: 60%;
										font-family: $plain;
										background: $grey;
										padding: 7px;
									}
								}
							}

							.product_meta {

								.sku_wrapper {
									display: none;
								}

								span {
										font-family: $plain;
										color: $grey;

										a {
											font-family: $plain;
											color: $grey;

											&:hover {
												text-decoration: none;
											}
										}
								}
							}
						}

						.woocommerce-tabs {

							.woocommerce-Tabs-panel--description {

								h2 {
									font-size: 30px;
								}

								p {
									font-size: 14px;
								}
							}
						}

						.related {

							h2 {
								font-size: 30px;
							}

							ul {
								margin-left:0;
								width: 100%;
								display: flex;
								justify-content: space-around;

								li {
									width: 100%;
									margin: 10px;
									position: relative;

									h2 {

										font-size: 20px;
										bottom: 0;
									}

									.price {

										span {
											font-size:16px;
											bottom:0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


	/***

	Cart tablet

	***/

	.woocommerce-cart {

		div {

			.content {
				min-height: 84vh;
				background-color: $offwhite;

				main {
					padding-top: 10vh;
				}
			}
		}
	}


	/***

	Checkout Tablet

	***/

	.woocommerce-checkout {

		div {

			.content {

				main {

					.woocommerce {
						padding-top: 10vh;
					}
				}
			}
		}
	}

	/**

	Order Received Tablet

	**/

	.woocommerce-order-received {

		div {

			.content {

				main {
					min-height: 84vh;
				}
			}
		}
	}


	/***

	Contact Tablet

	***/

	.contact {

		#contact {
			flex-direction: column;

			#contactInfo {
				width:100vw;
				padding: 20px;

				p {
					text-align: center;
				}
			}

			#contactForm {
				width: 100vw;
			}
		}
	}
}
