@media screen and (max-width: 768px) {

	/**

	Home Page Styles

	**/

	.home {

		/**

		Hero Module

		**/

		.hero {

			#hero-texts {
				position: absolute;
				display: flex;
				flex-direction: column;
				left: 10vw;
				line-height: 120px;

				.headerText {
					position: relative;
					width: max-content;

					p {
						display: inline-block;
						position: relative;
						z-index: 15;
						font-family: $fancy;
						font-size: 125px;
						color: $grey;
						margin: 0;
						user-select: none;
					}

					.textUnderline {
						width:100%;
						position: absolute;
						background: $lightgrey;
						height: 20px;
					}
				}
			}
		}

		/**

		Featured Photos Module

		**/

		#featuredPhotos {

			h2 {
				font-size: 55px;
			}

			#items {

				.featuredPhoto {

					.itemInfo {

						h3 {
							font-size: 50px;
						}

						p {
							font-size: 32px;
						}
					}
				}
			}
		}


		/**

		Text Module

		**/

		.textWrapper {
			width: calc(100% - 100px);
			height: 85vh;
			margin: 7.5vh 50px;

			.singleText {
				width: 75%;
			}

			p {
				font-size: 16px;

				&::first-letter {
					font-size: 35px;
				}
			}
		}
	}


	/***

	Shop page

	***/

	.woocommerce {

		.page-title {
			font-size: 75px;
		}

		div {

			.content{

				main {

					.products {
						position: relative;

						.product {
							width: calc(100% / 3 - 50px);
							clear: none;

							&:nth-of-type(4n) {
								float: left;
								clear: both !important;
							}

							h2 {
								 padding: 5px 5px 0 5px;
								 left:0;
								 background: white;
								 position: relative;
								 bottom:0;
								 font-size: 18px;
							}

							.price {
								 position: relative;
								 bottom: 0;
								 margin:0;
								 padding: 0 5px;
								 left:0;
								 background: white;

								 span {
									 font-size: 16px;
								 }
							 }

							 &:hover {

								 img {
									 opacity: 1;
									 transform: scale(1);
								 }

								 h2 {
					 				 bottom: 0;
						 			}

									.price {
						 			 bottom: 0;
						 			}
							 }
							}
						}
					}
			}
		}
		}


	/**

	Single Product page

	**/

	.single-product {

		div {

			.content {

				main {
					.product {
						margin-top: 15vh;
					}

					.images {
						background-color: $offwhite;

						.slider {

							.slick-prev, .slick-next {
								display: block !important;

								&:before {
									font-size: 50px;
								}
							}
						}

						#wpis-gallery {

							.slick-track {

								li {
									padding: 5px 2.5px;
								}
							}
						}
					}

					.product {

						.entry-summary {
							width: 100%;
							float: left;
							padding-left: 0;

							h1 {
								font-size: 55px;
							}

							.price {
								font-family: $plain;
								color: $grey;
							}
						}

						.related {

							ul {
								display: flex;
								justify-content: space-around;

								li {
									width: 100%;
									margin: 10px;
									position: relative;

									h2 {
										font-size: 20px;
										bottom: 0;
									}

									.price {

										span {
											font-size:16px;
											bottom:0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


	/***

	Cart tablet

	***/

	.woocommerce-cart {

		div {

			.content {
				min-height: 81vh;
				background-color: $offwhite;
			}
		}
	}


	/**

	Order Received page

	**/

	.woocommerce-order-received {

		div {

			.content {
				min-height: 82vh;
			}
		}
	}


	 /***

	 Contact styles

	 ***/

	.contact {

 		#contact {

 			#contactForm {

 				div {
 					width: 70%;
 				}
 			}
 		}
 	}
}
