//Modules SASS
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:700|Open+Sans');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css");
$fancy: 'Abhaya Libre', serif;
$plain: 'Open Sans', sans-serif;
$salmon: #FFA69E;
$offwhite: #F6F4F3;
$grey: #494949;
$lightgrey: #e2e2e2;

body {
	overflow-x: hidden;
}

/**

Header Navigation

**/

.header {
	display: relative;
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 0px;

	#burger {
		position: absolute;
		width: 50px;
		height: 25px;
		z-index: 20;
		top: 20px;
		left: 35px;

		span {
			position: absolute;
			display: block;
			width: 50px;
			height: 4px;
			background-color: $grey;
			transition: 0.55s;

			&:nth-of-type(1) {
				top: 0;
			}

			&:nth-of-type(2) {
				top: 10px;
			}

			&:nth-of-type(3) {
				top: 20px;
			}
		}

		&:hover {
			height: 30px;
			cursor: pointer;

			.stacked {

				&:nth-of-type(2) {
					top: 13px;
				}

				&:nth-of-type(3) {
					top: 26px;
				}
			}
		}

		.exed {

			&:nth-of-type(1) {
				top: 10px;
				transform: rotate(45deg);
			}

			&:nth-of-type(2) {
				top: 10px;
				transform: rotate(45deg);
			}

			&:nth-of-type(3) {
				top: 10px;
				transform: rotate(-45deg);
			}
		}
	}

	#logo {
		position: absolute;
		width: 100%;
		top: 15px;
		display: flex;
		justify-content: center;

		img {
			width: auto;
			height: 45px;
		}
	}

	.nav {
		background: $offwhite;
		display: flex;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;
		transition: 0.55s;
		overflow: hidden;

		ul {
			position: relative;
			z-index: 100;
			display: flex;
			flex-direction: column;
			list-style-type: none;
			padding: 0;
			margin: 0;
			align-items: center;

			li {
				margin: 3vh 0;

				a {
					display: flex;
					position: relative;
					font-family: $fancy;
					color: $grey;
					transition: 0.55s;
					font-size: 75px;
					margin: 0 10px;

					&:after {
						content:"";
						position: absolute;
						display: block;
						width: 0;
						height: 15px;
						background: $lightgrey;
						transition: width 0.5s;
						bottom: 30%;
						z-index: -1;
					}

					&:hover {
						text-decoration: none;

						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.cartMenu {
		position: absolute;
		top: -5px;
		right: 0;
		z-index: 9999;

		.menu-cart-menu-link-container {

			ul {

				li {
					list-style: none;

					a {

						i {
							color: $grey;
							font-size: 22px;
						}

						span {
							visibility: hidden;

							&:first-letter {
								visibility: visible;
								color: $grey;
								font-size: 22px;
								font-family: $plain;
							}
						}

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.hidden {
		width: 0;
	}
}



/**

Footer Module

**/

.footerNav {
	border-top: 2px solid $grey;
	background: white;
	padding: 40px 0 10px 0;
	display: flex;
	flex-direction:column;

	#footerItems {
		display: flex;
		justify-content: center;

		#footer-logo {
			display: flex;
			align-items: center;

			aside {

				img {
					width: auto;
					height: 65px !important;
				}
			}
		}

		ul {
			margin: 0;
			list-style-type: none;

			a, h6 {
				font-family: $plain;
				color: $grey;
				font-size: 15px;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	p {
		padding-top: 30px;
		text-align: center;
		color: $grey;
		font-family:$plain;
		font-size: 10px;
	}
}



/**

Home Page Styles

**/

.home {

	/**

	Hero Module

	**/

	.hero {
		position: relative;
		z-index: 15;
		width: 100%;
		height: 100vh;
		display:flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
		background: $offwhite;

		.slick-dotted.slick-slider {
			margin-bottom: 0;
		}

		.hero-img {
			position: relative;
			width: 70vw;
			height: 80vh;

			div {
				height: 100%;

				&:focus {
			    outline:none;
				}
			}
		}

		#hero-texts {
			position: absolute;
			display: flex;
			flex-direction: column;
			left: 10vw;
			line-height: 120px;

			.headerText {
				position: relative;
				width: max-content;

				p {
					display: inline-block;
					position: relative;
					z-index: 15;
					font-family: $fancy;
					font-size: 125px;
					color: $grey;
					margin: 0;
					user-select: none;
				}

				.textUnderline {
					width:100%;
					top: 50%;
					position: absolute;
					background: $lightgrey;
					height: 20px;
				}
			}
		}
	}

	/**

	Featured Photos Module

	**/

	#featuredPhotos {
		margin: 0;
		display: flex;
		flex-direction: column;
		position: relative;

		h2 {
			position: absolute;
			width: 100%;
			color: $grey;
			font-size: 85px;
			margin: 25px 0;
			padding: 0 4.2%;
			font-family: $fancy;
			z-index: 10;
			user-select: none;
		}

		#prev, #next {
			display: none;
		}

		#items {
			margin: 0;
			display: flex;
			width: 100%;
			justify-content: space-around;
			background: $offwhite;

			.featuredPhoto {
				width: calc(100% / 3);
				position: relative;
				overflow:hidden;

				.itemInfo {
					position: absolute;
					z-index: 10;
					left: 8%;
					bottom: -120px;
					transition: 0.25s;

					h3 {
						font-family: $plain;
						color: $grey;
						margin: 0;
						user-select: none;
						font-weight: 700;
					}

					p {
						font-family: $plain;
						font-weight: 400;
						color: $grey;
						font-size: 22px;
						user-select: none;
					}

					&:hover {
						bottom: 30px;
					}
				}

				img {
					width: 100%;
					height: 100%;
					transition: 0.4s;
					opacity: 1;
					background: $offwhite;
				}

				&:hover {

					.itemInfo {
						transition: 0.25s;
						bottom: 30px;
					}

					img {
						transform: scale(1.1);
						transition: 0.25s;
						opacity: 0.5;
					}
				}
			}
		}
	}


	/**

	Text Module

	**/

	.textWrapper {
		position: relative;
		width: calc(100% - 200px);
		height: 85vh;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 7.5vh 100px;
		border: 2px solid $offwhite;

		.singleText {
			width: 50%;
		}

		.doubleText {
			width: 25%;
			margin: 50px 3% 0 3%;
		}

		p {
			color: $grey;
			font-size: 18px;
			font-family: $plain;
			line-height: 35px;
			margin-bottom:0;

			&::first-letter {
				font-family: $fancy;
				font-size: 45px;
			}
		}

		.textImage {

			img {
				position: absolute;
				max-width: 20%;
				height: auto;

				&:nth-of-type(1) {
					top:25px;
					left: -2%;
					transform: rotate(45deg);
				}

				&:nth-of-type(2) {
					top: -160px;
					left: 65%;
					transform: rotate(75deg);
					z-index: -1;
				}

				&:nth-of-type(3) {
					bottom: -20px;
					right: -10%;
					transform: rotate(25deg);
				}
			}
		}
	}
}


/**

Shop page

**/


.woocommerce {
	background: white;

	.page-title {
		padding-top: 15vh;
		padding-left: calc(10vw + 22px);
		font-family: $fancy;
		font-size: 85px;
		color: $grey;
	}

	.woocommerce-result-count {
		font-family: $plain;
		color: $grey;
		font-size: 16px;
		padding-left: calc(10vw + 25px);
	}

	.orderby {
		margin-right: calc(10vw + 10px);
		font-family: $plain;
		color: $grey;
		background: $offwhite;
		border: 0;
		outline: 0;

		option {
			border: 0;
			outline: 0;
		}

		&:focus {
			outline: none;
		}
	}

	div {

		.content{

			main {

				.products {
					width: 80vw;
					margin-left: 10vw;

					.product {
						position: relative;
						background: $offwhite;
						width: calc(100% / 3 - 50px);
						margin: 25px;
						padding: 0;
						overflow: hidden;

						img {
							margin-bottom: 0;
							transition: 0.25s;
						}

						h2 {
							 position: absolute;
							 font-family: $plain;
							 color: $grey;
							 left: 8%;
							 bottom: -45px;
							 font-size: 28px;
							 font-weight: 700;
							 transition: 0.25s;
						}

						.price {
							 position: absolute;
							 bottom: -75px;
							 left: 8%;
							 transition: 0.25s;

							 span {
								 font-family: $plain;
								 color: $grey;
								 font-size: 22px;
							 }
						 }

						 .button {
							 display: none;
						 }

						 &:hover {

							 img {
								 opacity: 0.5;
								 transform: scale(1.1);
							 }

							 h2 {
				 				 bottom: 50px;
					 			}

								.price {
					 			 bottom: 20px;
					 			}
						 }

						}
					}
				}

				.woocommerce-pagination {

					.page-numbers {
						border: none;

						li {
							border: none;

							a {
								color: $grey;

								&:hover {
									color: $grey;
									background: $offwhite;
								}
							}

							span {
								color: $grey;
								background: $offwhite;
							}
						}
					}
			}
		}
	}

	.footerNav {
		background: white;
		bottom: 0;
	}
}


/**

Single Product page

**/

.single-product {

	div {

		.content {

			main {
				display: flex;
				justify-content: center;

				.woocommerce-message {
					display: none;
				}

				.product {
					margin-top: 15vh;
					width: 70%;

					.woocommerce-product-gallery {

						.woocommerce-product-gallery__wrapper {

							div {
								background: $offwhite;

								.rl-gallery {

									div {
										padding: 5px;

										a {
											height:100%;
											overflow: hidden;

											img {
												height: 100%;
											}
										}
									}
								}
							}
						}
					}

					.entry-summary {

						h1 {
							font-family: $fancy;
							color: $grey;
							font-size: 45px;
						}

						.price {
							font-family: $plain;
							color: $grey;
						}

						.woocommerce-product-details__short-description {

							p {
								font-family: $plain;
								color: $grey;
							}
						}

						form {

							button {
								font-family: $plain;
								background: $grey;
								padding: 7px;
							}
						}

						.product_meta {

							.sku_wrapper {
								display: none;
							}

							span {
									font-family: $plain;
									color: $grey;

									a {
										font-family: $plain;
										color: $grey;

										&:hover {
											text-decoration: none;
										}
									}
							}
						}
					}

					.woocommerce-tabs {
						margin-bottom: 25px;

						ul {
							display: none;
						}

						.woocommerce-Tabs-panel--description {
							margin-bottom: 0;

							h2 {
								font-family: $fancy;
								color: $grey;
							}

							p {
								padding: 0 10px 10px 10px;
								background: $offwhite;
								font-family: $plain;
								color: $grey;
								margin-bottom: 0;

								&:first-of-type {
									padding: 10px;
								}
							}
						}
					}

					.related {
						width: 100%;
						margin-left:0;

						h2 {
							font-family: $fancy;
							color: $grey;
						}

						ul {
							margin-left:0;
							width: 100%;

							li {
								width: calc(100% / 3 - 34px);
							}

							li:first-of-type {
								margin-left: 0;
							}

							li:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}

	.nivo-lightbox-body-effect-fade {

		.nivo-lightbox-theme-default {
			background:rgba(73, 73, 73, 0.7);

			.nivo-lightbox-nav {
				color: white;
				transition: 0.25s;

				&:hover {
					color: $offwhite;
					background-color: rgba(0,0,0,0);
				}
			}
		}
	}
}


/**

Cart page

**/

.woocommerce-cart {

	div {

		.content {

			main {
				min-height: 82vh;
				padding-top: 15vh;
				display: flex;
				justify-content: center;
				background-color: $offwhite;

				.woocommerce {
					width: 70%;
					background-color: $offwhite;

					.woocommerce-message {
						font-family: $plain;
						color: $grey;
						background: white;
						border: 1px solid rgba(0,0,0,.1);
						text-align: center;

						&:before {
							display: none;
						}
					}

					.woocommerce-cart-form {

						.cart {
							background: white;
							border-radius: 0px;

							thead {

								th {
									font-family: $plain;
									color: $grey;
								}
							}

							tbody {

								tr {

									td {
										font-family: $plain;
										color: $grey;

										a {
											font-family: $plain;
											color: $grey;
										}
									}

									.actions {

										button {
											background: $grey;
											color: $offwhite;
										}
									}
								}
							}
						}
					}

					.cart-collaterals {

						h2 {
							font-family: $fancy;
							color: $grey;
						}

						table {
							background: white;
							border-radius: 0;

							tbody {

								tr {

									th {
										font-family: $plain;
										color: $grey;
									}

									td {

										span {
											font-family: $plain;
											color: $grey;
										}
									}
								}
							}
						}

						.wc-proceed-to-checkout {

							a {
								background-color: $grey;
								color: $offwhite;
								border-radius: 0;
							}

							.wcppec-checkout-buttons {

								a {
									background: none;
									font-family: $plain;
									color: $grey;
									padding:0;

									&:before {
										content: "Check out with PayPal"
									}

									img {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


/**

Checkout page

**/

.woocommerce-checkout {

	div {

		.content {

			main {
				display: flex;
				justify-content: center;
				background: $offwhite;

				.woocommerce {
					width: 70%;
					padding-top: 15vh;
					background: $offwhite;

					.woocommerce-error {
						background: white;
						border-radius: 5px;
						border: 1px solid $salmon;

						li {
							text-align: center;
							font-family: $plain;
							color: $grey;
						}

						&:before {
							display: none;
						}
					}

					.woocommerce-info {
						font-family: $plain;
						background: white;
						border: 1px solid rgba(0,0,0,0.1);
						color: $grey;
						padding: 16px;
						text-align: center;
						border-radius: 5px;

						&:before {
							display: none;
						}

						a {

							&:hover {
								text-decoration: none;
							}
						}
					}

					.woocommerce-form-login {
						background: white;

						p {
							font-family: $plain;
							color: $grey;

							input {
								font-family: $plain;
								color: $grey;
							}
						}

						button {
							background: $grey;
							color: $offwhite;
						}

						.woocommerce-form__label-for-checkbox {
							margin-left: 10px;

							span {
								font-family: $plain;
								color: $grey;
							}
						}
					}

					.woocommerce-checkout {

						.woocommerce-NoticeGroup {

							.woocommerce-error {
								background: white;
								border-radius: 5px;
								border: 1px solid $salmon;

								li {
									font-family: $plain;
									color: $grey;
									text-align: center;
								}

								&:before {
									display: none;
								}
							}
						}

						.col2-set {

							.col-1, .col-2 {
								max-width: 100%;
								padding: 0;

								h3 {
									font-family: $fancy;
									color: $grey;
								}

								.woocommerce-billing-fields__field-wrapper {
										border: 1px solid rgba(0,0,0,0.1);
										background-color: white;
										padding: 9px 12px;
										margin-bottom: 10px;

										p {

											span {

												span {
													border-radius: 0;
												}
											}
										}
								}

								.woocommerce-additional-fields__field-wrapper {
									border: 1px solid rgba(0,0,0,0.1);
									background-color: white;
									padding: 9px 12px;
								}

								p {
									font-family: $plain;
									color: $grey;
								}

								textarea {
									font-family: $plain;
								}

								.woocommerce-invalid {

									label {
										color: $grey;
									}

									input {
										border-right-color: $grey;
										border-width: 1px;
										border-bottom-width: 1.5px;
										border-bottom-color: $salmon;
									}
								}

								.woocommerce-validated {

									input {
										border-color: $grey;
										border-width: 1px;
									}
								}
							}
						}

						h3 {
							font-family: $fancy;
							color: $grey;
						}

						#order_review {

							.woocommerce-checkout-review-order-table {
								background: white;
								border-radius: 0;

								th, td {
									font-family: $plain;
									color: $grey;
								}
							}

							.woocommerce-checkout-payment {
								background: white;
								margin-bottom: 50px;
								border-radius: 0;
								border: 1px solid rgba(0,0,0,0.1);

								ul {

									li {

										label {
											font-family: $plain;
											color: $grey;
										}

										.payment_method_ppec_paypal {
											background: $offwhite;
											border-bottom-color: $offwhite;

											&:before {
												border: 1em solid $offwhite;
										    border-right-color: transparent;
										    border-left-color: transparent;
										    border-top-color: transparent;
											}

											p {
												font-family: $plain;
												color: $grey;
											}
										}
									}
								}

								.place-order {

									button {
										background: $grey;
										color: $offwhite;
										font-family: $plain;
										border-radius: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



/**

Order Received page

**/

.woocommerce-order-received {

	div {

		.content {

			main {
				min-height: 81vh;
				background-color: $offwhite;

				.woocommerce {

					.woocommerce-order {

						p {
							text-align:center;
							font-family: $plain;
							color: $grey;
							border: 1px solid rgba(0,0,0,0.1);
							background: white;
							padding: 9px 12px;
						}

						.woocommerce-order-overview {
							font-family: $plain;
							color: $grey;
							border: 1px solid rgba(0,0,0,0.1);
							background: white;
							padding: 9px 12px;
							display: flex;
							flex-direction: row;
							justify-content: center;
						}

						.woocommerce-order-details {

							h2 {
								font-family: $fancy;
								color: $grey;
							}

							table {
								background: white;
								border-radius: 0;

								th, td {
									font-family: $plain;
									color: $grey;
								}
							}
						}

						.woocommerce-customer-details {

							h2 {
								font-family: $fancy;
								color: $grey;
							}

							address {
								background: white;
								font-family: $plain;
								color: $grey;
								text-align: center;
								padding: 9px 12px;
								border-width: 1px;
								border-radius: 0;

								p {
									border: none;
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}


/**

Contact Page

**/

.contact {

	#contact {
		display: flex;
		flex-direction: row;
		background: $offwhite;

		#contactInfo {
			width:50%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			p {
				font-family: $fancy;
				font-size: 35px;
				color: $grey;
			}
		}

		#contactForm {
			position: relative;
			width: 50%;
			height: 100vh;
			background: $grey;
			display: flex;
			justify-content: center;
			align-items: center;

			div {
				width: 50%;

				form {

					label, input, textarea {
						width: 100%;
						font-family: $plain;
						color: $offwhite;
						font-size: 20px;
					}

					input {
						padding: 0 2px;
					}

					input, textarea {
						color: $grey;
						border: none;
						border-bottom: 2px solid $offwhite;
						font-family: $plain;
						font-size: 15px;
						margin-top: 5px;
					}

					textarea {
						height: 20vh;
						resize: none;
					}

					input[type="submit"] {
						font-family: $fancy;
						padding: 10px;
						font-size: 35px;
						transition: 0.55s;
						border: solid 2px white;
						color: white;
						background: $grey;

						&:hover {
							cursor: pointer;
							background: white;
							color: $grey;
						}
					}

					.ajax-loader {
						display: none;
					}

					input:focus,
					select:focus,
					textarea:focus,
					button:focus {
					    outline: none;
					}

					.errorBorder {
						border-bottom: 2px solid $salmon;
					}

					.wpcf7-not-valid-tip {
						display: none;
					}

					.wpcf7-validation-errors {
						display: none !important;
					}
				}
			}
		}
	}

	.footerNav {
		display: none;
	}
}


/**

Error Page

**/

.error404 {

	div {

		.content {
			display: flex;
			justify-content: center;
			background-color: $offwhite;
			height: 100vh;
			align-items: center;

			main {
				width: 70%;

				.page-header {

					h1 {

						font-size: 75px;
						font-family: $fancy;
						color: $grey;
						text-align: center;
					}
				}

				.alert {
					background: none;
					border: none;
					color: $grey;
					font-family:$plain;
					text-align: center;
					font-size: 18px;
				}

				form {
					display: none;
				}
			}
		}
	}
}


@import "_largeTablets";
@import "_mediumTablets";
@import "_phones";
