@media screen and (max-width: 479px) {


	/***

	Header Styles

	***/

	.header {

		#burger {
			width: 35px;
			left: 15px;
			top: 15px;

			span {
				height: 3px;
				width: 35px;
			}
		}

		#logo {
			top: 10px;

			img {
				height: 35px;
			}
		}

		.nav {

			ul {

				li {

					a {
						font-size: 50px;
					}
				}
			}
		}

		.cartMenu {
			top: -7px;
			right: -30px;
		}
	 }


	/***

	Footer Styles

	***/

	.footerNav {

		#footerItems {
			flex-direction: column;
			padding-left: calc(10vw + 22px);
			width: 80vw;

			#footer-logo {
				margin-bottom: 10px;
				display: flex;
				justify-content: center;

				aside {

					img {
						height: 45px !important;
					}
				}
			}

			ul {
				padding: 10px 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				li {

					a {
						font-size: 12px;
					}
				}
			}

			aside:nth-of-type(2) {
				display: none;
			}
		}
	}


	/***

	Home Page Phone

	***/

	.home {

		/**

		Hero Module

		**/

		.hero {

			#hero-texts {
				line-height: 80px;
				bottom: 0;

				.headerText {

					p {
						font-size: 80px;
					}

					.textUnderline {
						width:90%;
						height: 15px;
					}
				}
			}
		}

		/**

		Featured Photos Module

		**/

		#featuredPhotos {

			h2 {
				font-size: 35px;
			}

			#prev, #next {
				top: calc(50% - 80px);
				font-size: 80px;
			}

			#items {

				.featuredPhoto {

					.itemInfo {

						h3 {
							font-size: 30px;
						}

						p {
							font-size: 16px;
						}
					}

					img {
						margin-top: 50px;
					}
				}
			}
		}


		/**

		Text Module

		**/

		.textWrapper {
			width: calc(100% - 50px);
			height: 90vh;
			margin: 5vh 25px;

			p {
				font-size: 12px;
				line-height: 30px;

				&::first-letter {
					font-size: 30px;
				}
			}
		}
	}


	/***

	Shop page

	***/

	.woocommerce {

	  .page-title {
	 	 font-size: 65px;
	 	 padding-left: calc(10vw + 15px);
	  }

	  .woocommerce-result-count {
		 padding-left: calc(10vw + 15px);
	  }

	  .woocommerce-ordering {
	 	 width: 100vw;
	 	 display: flex;
	 	 justify-content: center;

	 	 .orderby {
	 		 width: 72vw;
	 		 margin: 0;
	 	 }
	  }

	  div {

	 	 .content{

	 		 main {

	 			 .products {

	 				 .product {
	 					 width: calc(100% / 2 - 30px);
	 					 margin:15px;
						 clear: both;

						 &:nth-of-type(4n) {
							 float: left;
							 clear: none !important;
						 }

	 					 h2 {
								font-size: 16px;
	 					 }

	 					 .price {

								span {
									font-size: 12px;
								}
	 						}
	 					 }
	 				 }
	 			 }
	 	 	}
	  }
	}


	/**

	Order Received page

	**/

	.woocommerce-order-received {

		div {

			.content {

				main {

					.woocommerce {

						.woocommerce-order {

							.woocommerce-order-overview {
								display: flex;
								flex-direction: column;

								li {
									padding: 9px 0;
									border: none;
								}
							}
						}
					}
				}
			}
		}
	}

	/***

	Contact styles

	***/

	.contact {

		#contact {
			align-items: center;

			 #contactInfo {
			 width: 75vw;

				 p {
					 font-size: 16px;
				 }
			 }

			 #contactForm {

				 div {
					 width: 75vw;
				 }
			 }
		}
	}
}
